@{
    ViewBag.Title = "Contato";
}
<head>
    <link rel="stylesheet" type="text/css" href="Estilo.css" />
</head>
<body>
    <h2 style="text-align:center"><b>@ViewBag.Title</b></h2>

    <p>
        <img src="~/fonts/endereco-fiscal.png" height="180" width="180" align="left" />
        <br />
        <br />
        <br />
        Av. República Argentina, 1228<br />
        Água Verde, Curitiba - PR, 80620-010
    <p>
        <br />
        <br />
        <br />
        <br />
    <p>
        <img src="~/fonts/volume-do-telefone_318-49639.jpg" height="100" width="100" align="left" />
        <br />
        <br />
        Telefone: 55-41-3347-5213
    </p>
    <br />
    <br />
    <br />
    <br />


</body>