

@{
    ViewBag.Title = "Missao";
}
<h2 align="middle"> Visão </h2>

<head>

    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />

</head>
<body>

    <h4>
        Disponibilizar um acervo de títulos completo, com equipe de colaboradores competente e treinada, orientada a fazer do momento da compra uma experiência única de descoberta e prazer.
    </h4>



    <img src="~/fonts/livraria.png" id="estante" alt="HTML5 Icon" width="600" height="400">


</body>
