
@{
    ViewBag.Title = "Valores";
}

<h2 align="middle"> Valores </h2>

<head>

    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    
    <ul>
        <li><h2>Diversidade</h2></li>
        </ul>
        <h4>
            Foco na satisfação do cliente.<br/>
            Cultura como instrumento para construir uma sociedade.<br/>
            Trabalho em equipe com competência e entusiasmo.
        </h4>
    
        <ul>
        <li><h2>Responsabilidade</h2></li>
        </ul>

        <h4>
            Responsabilidade social direcionada à Educação e Cultura.<br/>
            Honestidade e respeito nas relações em todos os níveis.<br/>
            Parceria entre empresa e colaborador, para o seu desenvolvimento pessoal e profissional
        </h4>
       <ul>
        <li><h2>Inovação</h2></li>
           </ul>
       <h4>
           Inovação como estímulo para o crescimento.<br/>
           Incentivo à leitura para o desenvolvimento do ser humano
       </h4>
    

    
</body>