
@{
    ViewBag.Title = "Valores";
}

<h2 align="middle"> Valores </h2>

<head>

    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    
    <ul>
        <li>Diversidade</li>
        Foco na satisfação do cliente.
        Cultura como instrumento para construir uma sociedade   
        Trabalho em equipe com competência e entusiasmo.
        
        <li>Responsabilidade</li>
        Responsabilidade social direcionada à Educação e Cultura.
        Honestidade e respeito nas relações em todos os níveis.
        Parceria entre empresa e colaborador, para o seu desenvolvimento pessoal e profissional

        <li>Inovação</li>
        Inovação como estímulo para o crescimento.

        Incentivo à leitura para o desenvolvimento do ser humano

    </ul>

    
</body>