
@{
    ViewBag.Title = "Visao";
}

<h2>Visao</h2>
<body>
<h4>
    Acreditamos no poder transformador da informação e da cultura.

    Nosso objetivo é ser a melhor loja de entretenimento e informação, nos consolidando como a grande referência do setor.

    Quanto mais crescermos, mais vamos disseminar essa informação, ajudando as pessoas a construir e viver em um mundo melhor e mais justo.
</h4>
    <img src="~/fonts/valores.png" alt="HTML5 Icon" width="600" height="400">
    </body>


