@model SistemaLivros.Models.LoginViewModel

@{
    /**/

    ViewBag.Title = "Index";
}

<body>
@if (Session["emailUsuarioLogado"] != null)
{
    if (Session["cliente"] == null)
    {
        <div style="text-align:center">
            <h2><b>Bem-Vindo Cliente !</b></h2>
            <p>Percebemos que você ainda não tem cadastro na Estante dos Livros !!</p>
            <h4><b>Clique no link abaixo e cadastre-se</b></h4>
            <br />
        
            <div>
            <a href="@Url.Action("Create", "Clientes")">
                <div class="but_clientes">Cadastre novo cliente !</div>
            </a>
            </div>
        </div>
    }
    else
    {
        <h2>Bem-Vindo @Session["cliente"]</h2>
    }
}
</body>