
@{
    ViewBag.Title = "Esse login já possui um cliente cadastrado";
}

<head>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
</head>


<br />
<br />
<img src="~/fonts/warning.png" id="estante" width="150" height="150" />

<h2 style="text-align:center"><b>@ViewBag.Title</b></h2>


