
@{
    ViewBag.Title = "Proibido edição de cliente que não esteja associado ao seu login.";
}

<head>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
</head>


<br />
<br />
<img src="~/fonts/proibido.jpg" id="estante" width="150" height="150" />

<h2 style="text-align:center"><b>@ViewBag.Title</b></h2>

