
@{
    ViewBag.Title = "Proibido exclusão de cliente que não esteja associado ao seu login.";
}

<head>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
</head>


<br />
<br />
<img src="~/fonts/proibidoexcluir.png" id="estante" width="250" height="200" />

<h2 style="text-align:center"><b>@ViewBag.Title</b></h2>

