
@{
    ViewBag.Title = "Compra Realizada com sucesso";
}

@if (Session["Cliente"] != null)
{
    <h2>@ViewBag.Title</h2>

}
else
{
    <h2>@ViewBag.Mensagem</h2>

    <div>
        @Html.ActionLink("Cadastrar Cliente", "Create", "Clientes")
    </div>
}
