@model SistemaLivros.Models.EscolhaLivro


@{
    ViewBag.Title = "Busca";
}

<head>

    <link href="~/Content/Estilo.css" rel="stylesheet" type="text/css" />

</head>

<h2 style="text-align:center"><b>Buscar Livros</b></h2>

<body id="body">
    @using (Html.BeginForm("Busca", "Livros", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>

            <h4 style="text-align:center">
                Buscar por @Html.DropDownListFor(modelItem => modelItem.EscolhaLivroID, new SelectList(new List<Object>
{
new {value = 0, text = ""},
new {value = 1, text = "Bradesco"},
new {value = 2, text = "Santander"}
}, "value", "text", 0)) @Html.TextBox("opcao") <input type="submit" value="Pesquisar" class="btn btn-default" />
</h4>
}
</fieldset>       



        <div>
            @Html.ActionLink("Voltar a página inicial", "Index", "Home")
        </div>

        }
</body>