#body {
    background-color: azure;
    display: table;
    width: 100%;
}

#busca {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#divbody{
    margin:auto;
    margin-top:60px;
    width:900px;
    height:300px;
    background-color:aqua;
    border:1px solid black;
}

#divbody2 {
    margin: auto;
    margin-top: 60px;
    width: 900px;
    height: 320px;
    background-color: aqua;
    border: 1px solid black;
}

#divesquerda{
    width:290px;
    height:290px;    
    text-align:center;
    float:left;
}

#divcentro {
    width: 290px;
    height: 290px;    
    text-align: center;
    float: left;
}

#divdireita {
    width: 290px;
    height: 290px;   
    text-align: center;
    float: left;
}


#imagens {
    width: 200px;
    height: 200px;
    margin: 0.5em;
    padding: 0.5em;
}

#estante {
    display: block;
    margin: 0 auto;
}

